
@mixin font-1() {
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 18px;
  }

  @mixin font-2($lh: 16px) {
    font-size: 14px;
    line-height: $lh;
    font-family: 'Roboto', sans-serif;
  }

  @mixin getCenter() {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

  @mixin setPopup($l: 19px, $t: 10px, $w: 183px, $mh: 246px, $p: 24px 16px) {
        width: $w;
        min-height: $mh;
        padding: $p;
        background: $white;
        position: absolute;
        left: $l;
        top: $t;
        z-index: 3;
        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
  }
@function calcFluid($f-min, $f-max, $w-min: 320, $w-max: 1920) {
  $k: ($f-max - $f-min)/ ($w-max - $w-min);
  $b: $f-min - $k * $w-min;

  $b: $b * 1px;

  @return calc(#{$k} * 100vw + #{$b});
}