$black: #000;
$white: #ffffff;
$dark: #333333;
$blueLight: #018BBF;
$whiteMist: #fbfbfb;
$red: #FF5A5A;


$color1: #231F20;
$color2: #787F8F;
$color3: #D3DFE5;
$color4: #FBFBFB;
$color5: #FFFFFF;
$color6: #E5F5FF;
$color7: #00C6A2;
$color8: #01A39D;
$color9: #0791BA;
$colorGreen: #31BC00;
$colorGradient: linear-gradient(270deg, #00B2AA 0%, #0078C8 100%);
$colorRed: #EB5757;